@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

nav .links {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav .links img {
  margin-right: 24px;
}

nav .links ul li a {
  transition: all 0.3s ease;
  color: #0937b2;
  text-decoration: none;
}

nav {
  border-bottom: #6a737d;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 24px;
}

nav .links ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

nav .links ul li a {
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
}

nav .links ul li a:not(:active) {
  color: #6a737d;
}

nav .links ul li a:active {
  color: #0937b2;
}

nav .links ul li a::after {
  transition: all 0.3s ease;
  content: "";
  display: block;
  width: 1px;
  height: 2px;
  background-color: #0937b2;
  position: absolute;
  bottom: -5px;
  opacity: 0;
}
nav .links ul li a:hover {
  color: #0937b2;
  font-weight: bold;
}
nav .links ul li a:hover::after {
  /* transition: all 0.3s ease; */
  width: 100%;
  opacity: 1;
}

.buttons {
  display: flex;
  gap: 24px;
  align-items: center;
}

.buttons button {
  font-size: 15px;
  font-weight: bold;
  color: #0937b2;
  padding: 6px 8px;
  border: 2px solid #0937b2;
  letter-spacing: 0.25px;
  border-radius: 6px;
  background-color: white;
}

.buttons button:hover {
  color: #0937b2;
}

.buttons .icons {
  /* padding:8px 11px; */
}

.buttons .icons img {
  width: 15px;
  height: 15px;
}

.settings {
  align-items: center;
  display: flex;
  gap: 12px;
}

.buttons .user {
  width: 40px;
  height: 40px;
}

.container {
  /* border: 2px solid red; */
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  /* justify-content: space-between; */
  padding: 0px 24px;
  gap: 62px;
}

/* sidebar */

.side-bar ul {
  width: 160px;
  display: flex;
  flex-direction: column;
}

.side-bar ul li {
  list-style: none;
}

.side-bar ul li {
  border-radius: 4px;
  font-size: 14px;
  padding: 12px 8px;
  letter-spacing: 0.2px;
  color: #181f33;
}

.side-bar ul li:first-child {
  background-color: #0937b2;
  width: 160px;
  color: #ffffff;
}

.container .right-side-bar {
  height: 100vh;
  width: 100%;
  /* border: 2px solid blue; */
}

.message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message-text-greet {
  font-size: 28px;
  font-weight: bold;
}

.message-text-info {
  font-size: 16px;
  color: #6a737d;
  margin-top: 16px;
  margin-bottom: 26px;
}

.message-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.message-buttons button {
  font-size: 15px;
  display: flex;
  border-radius: 6px;
  flex-direction: row;
  gap: 12px;
  /* color:#0937B2; */
  font-weight: bold;
  border: 2px solid #0937b2;
  align-items: center;
  padding: 4px 16px;
}
.export {
  color: #0937b2;
  /* background-color: white; */
}

.insights {
  padding: 6px 16px;
  background-color: #0937b2;
  color: white;
}

/*Button-group*/
.button-group {
  display: flex;
  /* border: 2px solid red; */
  /* height: 60px; */
}
.small-buttons {
  flex: 1;
  /* border: 2px solid green; */
}
.large-buttons {
  display: flex;
  gap: 12px;
}
.large-buttons button {
  font-size: 15px;
  display: flex;
  border-radius: 6px;
  flex-direction: row;
  gap: 12px;
  color: #0937b2;
  font-weight: bold;
  border: 2px solid #0937b2;
  align-items: center;
  padding: 6px 16px;
  background-color: transparent;
}
.small-buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.small-buttons button {
  outline: none;
  border: none;
  background-color: transparent;
  color: #181f33;
  font-weight: 900;
  opacity: 0.6;
  font-size: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-right: 1px solid #e0e0e0;
  border-radius: 4px;
}
.sm-btn-1 {
  border-left: 1px solid #e0e0e0;
  border-radius: 4px;
}
.sm-btn-grp:first-child {
  border-left: 1px solid #e0e0e0;
  /* border-radius: 4px; */
}
.sm-btn-grp {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 4px;
}
.sm-btn-grp button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.session-info-section {
  margin-top: 12px;
  display: flex;
  width: 100%;
  height: 148px;
  margin-top: 18px;
  /* border: 1px solid red;; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  gap: 24px;
}

.session-info-section .grid-secton {
  width: 100%;
  /* width: 360px;
  height: 148px; */
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}

.session-info-section .grid-secton .information-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.session-info-section .grid-secton .information-container .heading {
  color: #181f33;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}

.active-users {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  gap: 24px;
}

.active-users .active-users-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-bottom: 12px; */
}

.active-users .active-users-heading .active-users-heading-text {
  font-weight: bold;
  font-size: 20px;
  color: #181f33;
  opacity: 0.9;
}
.active-users .active-users-heading .active-users-heading-button button {
  font-weight: bold;
  font-size: 15px;
  color: #0937b2;
  opacity: 0.9;
  padding: 6px 16px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #0937b2;
}
.active-users .map-data {
  /* width: 1064px; */
  width: 1095px;
  height: 456px;
  /* border-radius: 8px; */
  border-top: 1px solid #e0e0e0;
}
